<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="maxValue" value="180"/>
    <add key="sleep" value="1000"/>

    <add key="perf:category" value="Memory"/>
    <add key="perf:counter"  value="% Committed Bytes In Use"/>
    <add key="perf:instance" value=""/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>